
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Migrate csv files to a database</title>
  </head>
  <body>
    <header>
      </div>
    </header>
    <title>Upload a new csv file</title>
    <div class="container">
      <form method="POST" enctype="multipart/form-data">
        <input type="file" accept= ".csv" name="file">
        <input type="submit" value="Upload">
      </form>
    </div>

    <footer>
      <p>
      </p>
    </footer>
  </body>
</html>